body {
  background-color: #252525;
  color: white;
  padding: 48px 32px;
}

.header {
  background-color: #181a1f;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header-link {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
